.button_profile_batal {
  background-color: #ffffff !important;
  color: #007cff !important;
  font-weight: 600;
  font-size: 14px;
  border: none;
}

.button_profile_batal:hover {
  background-color: #ffffff !important;
  border: 1px solid #007cff !important;
  color: #007cff !important;
  font-weight: 600;
  font-size: 14px;
}

.button_profile_simpan {
  background-color: #007cff !important;
  color: #ffffff !important;
  font-weight: 600;
  font-size: 14px;
}

/* =================================================================================
INFORMASI PRIBADI
================================================================================= */
.label {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 160%;
  color: #1f1f1f;
  margin-top: 5px;
}

.formControl {
  margin-bottom: 10px;
}

.hr {
  border: 0.05px solid #d7e1ea;
}

.image_profile_wrapper {
  border-radius: 50%;
}

.btn_edit_triger {
  background: #007cff;
  color: #ffffff;
}