.bg-beranda-primary {
  background-color: #007cff !important;
}

.btn-beranda-primary {
  background-color: #007cff !important;
  color: #ffffff !important;
}

.text-beranda-primary {
  color: #007cff !important;
}

/* HOME PAGE */

.padding-content-home {
  padding: 40px 56px;
}

.padding-content-footer {
  padding: 40px 56px;
}

.pelatihan-new {
  background-image: url("/assets/media/section/section-pelatihan-1.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 700px;
}

.rilis-media-new {
  background-image: url("/assets/media/section/section-rilis-media-2.png"),
    url("/assets/media/section/section-rilis-media-3.png");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: 700px;
}

.info-vidio-new {
  background-image: url("/assets/media/section/section-video-4.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 700px;
}

.title-pelatihan {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: #1f1f1f;
}

.link-pelatihan-new {
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.015em;
  color: #0063cc;
  cursor: pointer;
}

.image-list-pelatihan-new {
  border-radius: 8px 8px 0px 0px;
  transition: 0.5s ease;
}

.badge-card-pelatihan-new {
  background-color: #e6f2ff;
  color: #0063cc;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  border-radius: 40px;
}

.wishlist-card-new {
  border-radius: 50% !important;
  font-size: 20px;
  width: 32px;
  height: 32px;
}

.parent-image-pelatihan-new {
  width: 100%;
  height: 180px;
  position: relative;
}

.parent-image-pelatihan-new-hover {
  width: 100%;
  height: 180px;
  position: relative;
  filter: brightness(0.8);
}

.mitra-pelatihan-new {
  position: absolute;
  top: -32px;
  left: 14px;
}

.mitra-pelatihan-image-new {
  border-radius: 50%;
  border: 4px solid #ffffff !important;
  padding: 0;
}

.text-mitra-new {
  font-size: 14px;
  font-weight: 600;
  color: #6c6c6c;
  text-align: start;
}

.status-mitra-open-new {
  background: #e6fff7;
  border-radius: 40px;
  color: #00996a;
  font-size: 12px;
  padding: 4px 12px;
  font-weight: 600;
}

.status-mitra-close-new {
  background: #ffe6e8;
  border-radius: 40px;
  color: #ee2d41;
  font-size: 12px;
  padding: 4px 12px;
  font-weight: 600;
}

.title-card-new {
  font-weight: 600;
  font-size: 18px;
  color: #1f1f1f;
  text-align: start;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  max-width: 40rem !important;
}

.text-date-register-new {
  font-size: 13px;
  color: #6c6c6c;
  line-height: 21px;
  text-align: start;
}

.btn-quick-view-new {
  background-color: #ffffff !important;
  border: 1px solid #007cff !important;
  color: #007cff !important;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  border-radius: 30px !important;
}

.btn-quick-view-new:hover {
  background-color: #007cff !important;
  border: none !important;
  color: #ffffff !important;
  font-weight: 600;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #007cff !important;
}

.btn-disabled-pelatihan-new {
  background-color: #ffffff;
  opacity: 0.5 !important;
  cursor: default !important;
}

.btn-disabled-pelatihan-new:hover {
  background-color: #ffffff;
}

.galeri-update-new {
  background-color: #fafafb;
}

.come-join-new {
  background: #fafafb;
  background-image: url("/assets/media/bg-come-join.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* STEP REGISTER */
.title-step-register h1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #1f1f1f;
}

/* END HOME PAGE */

/* PENYELENGGARA */
.penyelenggara-title-filter h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.025em;
  color: #1f1f1f;
}

.penyelenggara-title-filter p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #6c6c6c;
}

.filter-action p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  color: #1f1f1f;
}

.btn-penyelenggara-rounded {
  border-radius: 30px;
}

.bg-penyelenggara-primary {
  background: #007cff;
  border: 1px solid #007cff;
  box-sizing: border-box;
  color: #ffffff;
}

.bg-penyelenggara-primary:hover {
  color: #ffffff;
}

.bg-penyelenggara-light {
  background: #ffffff;
  border: 1px solid #d7e1ea;
  box-sizing: border-box;
  color: #adb5bd;
}

.bg-penyelenggara-light:hover {
  background: #007cff;
  border: 1px solid #007cff;
  box-sizing: border-box;
  color: #ffffff;
}

.penyelenggara-mitra .penyelenggara-wrapper {
  width: 173px;
  height: 173px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #d7e1ea;
  box-sizing: border-box;
  border-radius: 100px;
}

.penyelenggara-mitra .penyelenggara-wrapper:hover {
  border: 4px solid #007cff;
  box-sizing: border-box;
}

.penyelenggara-mitra p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.015em;
  color: #1f1f1f;
}

.color-primary-primary {
  background-color: #0100be;
  border: #0100be;
}

.color-primary-secondary {
  background-color: #2a62ed;
  border: #2a62ed;
}

.color-primary-extras {
  background-color: #5ec8f2;
  border: #5ec8f2;
}

.color-primary-primary:hover {
  background-color: #0100be;
  border: #0100be;
}

.color-primary-secondary:hover {
  background-color: #2a62ed;
  border: #2a62ed;
}

.color-primary-extras:hover {
  background-color: #5ec8f2;
  border: #2a62ed;
}

.color-primary-primary:hover {
  color: #fff;
}

.color-primary-secondary:hover {
  color: #fff;
}

.color-primary-extras:hover {
  color: #fff;
}

.color-secondary-primary {
  background-color: #0100be;
}

.color-secondary-secondary {
  background-color: #2a62ed;
}

.color-secondary-extras {
  background-color: #5ec8f2;
}

.color-extras-primary {
  background-color: #0100be;
}

.color-extras-secondary {
  background-color: #2a62ed;
}

.color-extras-extras {
  background-color: #5ec8f2;
}

@media (max-width: 395px) {
  .penyelenggara-mitra .penyelenggara-wrapper {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 295px) {
  .penyelenggara-mitra .penyelenggara-wrapper {
    width: 100px;
    height: 100px;
  }
}
/* END PENYELENGGARA */

@media (min-width: 768px) {
  .title-step-register h1 {
    font-size: 40px;
  }
  .penyelenggara-title-filter h1 {
    font-size: 40px;
  }
  .filter-action p {
    font-size: 15px;
  }
  .padding-content-akademi-slider {
    padding: 40px 56px;
  }
}

@media (max-width: 350px) {
  .badge-card-pelatihan-new {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .padding-content-home {
    padding: 40px 32px;
  }
  .padding-content-footer {
    padding: 40px 32px;
  }
}

@media (max-width: 500px) {
  .padding-content-home {
    padding: 32px 30px;
  }
  .title-card-new {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 11rem !important;
  }
  .padding-content-footer {
    padding: 20px 30px;
  }
  .trim-text-mobile {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 11rem !important;
  }
}

@media (max-width: 450px) {
  .trim-text-mobile {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 6rem !important;
  }
}

@media (max-width: 300px) {
  .trim-text-mobile {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 1rem !important;
  }
}
