@media (max-width: 412px) {
  .base {
    display: none;
  }
  .back {
    display: none;
  }
}

.back {
  background: #ffffff;
  height: 44px;
  padding: 14px;
}

.base {
  background: #ffffff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.05);
}
.pelatihan {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;

  color: #6c6c6c;
}
.nameTest {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;

  color: #6c6c6c;
}
.time {
  text-align: right;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;

  color: #adb5bd;
}
