.imageAdmin{
    position: absolute;
    top: 2px;
    left: 260px;
    /* z-index: ; */
    width: 240px;
    height: 195px;
}
.cardName{
    height: 197px;
}

.welcome{
    font-size: 16px;
}

@media only screen and (max-width: 1024px) {
    .imageAdmin{
        top: 2px;
        left: 142px;
        z-index: -1;
        width: 190px;
        height: 195px;
        opacity: 0.2;
    }
    .textName{
        z-index: 5;
    }
    .nameUser{
        position: relative;
        z-index: -1;
    }
}

@media only screen and (max-width: 768px) {
    .imageAdmin{
        top: 2px;
        left: 550px;
        z-index: -1;
        width: 190px;
        height: 195px;
        opacity: 1;
    }
}

@media only screen and (max-width: 576px) {
    .imageAdmin{
        top: 2px;
        left: 158px;
        z-index: -1;
        width: 190px;
        height: 195px;
        opacity: 0.2;
    }
}

@media only screen and (max-width: 320px) {
    .imageAdmin{
        top: 2px;
        left: 102px;
        z-index: -1;
        width: 190px;
        height: 195px;
        opacity: 0.2;
    }
    .welcome{
        font-size: 10px;
    }
}

@media only screen and (max-width: 280px) {
    .imageAdmin{
        top: 2px;
        left: 63px;
        z-index: -1;
        width: 190px;
        height: 195px;
        opacity: 0.2;
    }
    .welcome{
        font-size: 10px;
    }
}