.prompt {
  padding: 16px;
  margin-bottom: 8px;
  border-radius: 5px;
  font-size: 16px;
}

.prompt a {
  text-decoration: none;
  color: #1f1f1f;
}

.prompt:hover {
  background-color: #ecf5fc;
  color: #1f1f1f;
  font-weight: 600;
  width: 95%;
}

.prompt h3 {
  padding-left: 16px;
  color: #6c6c6c;
  font-weight: normal;
}

.pelatihan-click {
  margin-right: 32px;
}

.isactive {
  padding: 16px;
  background-color: #ecf5fc;
  margin-bottom: 8px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  width: 95%;
}

.isactive a {
  text-decoration: none;
}

.isactive h3 {
  padding-left: 16px;
  font-weight: 600;
}

.isactive:hover {
  background-color: #ecf5fc;
  color: #1f1f1f;
}

.styling-content-pelatihan {
  margin-left: 34px;
  margin-top: 32px;
}

.notification-title h1 {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
  color: #1f1f1f;
}

.notification h5 {
  font-weight: normal;
  font-size: 16px;
  color: #1f1f1f;
}

.email {
  margin-top: 24px;
}

.email h3 {
  font-weight: normal;
  font-size: 16px;
  color: #1f1f1f;
}

.button-submit-notif {
  margin-top: 24px;
}

.btn-notif-styling {
  padding: 16px 32px 16px 32px;
  border-radius: 30px;
  background: #215480;
  color: #ffffff;
  border: none;
  font-size: 14px;
}

.switch.switch-primary:not(.switch-outline) input:empty~span:before {
  background-color: #adb5bd;
}

.switch.switch-primary:not(.switch-outline) input:checked~span:before {
  background-color: #215480;
}

.judul {
  font-size: 16px;
  color: #1f1f1f;
}

.styling-radio input[type="radio"] {
  width: 20px;
  height: 20px;
}

.styling-radio .judul {
  margin-top: 5px;
  margin-left: 8px;
}

.btn-unduh {
  background-color: #4299e1 !important;
}

.status-peserta {
  margin-bottom: 27px !important;
}

.btn-reset {
  font-weight: 600;
  font-size: 14px;
  color: #215480;
  margin-right: 48px;
  background-color: #fff;
}

.card-styling {
  width: 10px !important;
}

.data-peserta {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #1f1f1f;
}

.berdasarkan {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #6c6c6c;
}

.kota {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #adb5bd;
}

.nomor {
  border-radius: 8px;
  color: #215480;
  background-color: #F2F7FC;
  font-weight: 600;
  padding: 8px 15px 8px 15px;
}

.data-daerah {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #1F1F1F;
  margin: 0 15px;
}

.data-daerah-provinsi {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #1F1F1F;
  position: sticky;
  left: 50px;
  width: 220px;
  flex-wrap: wrap;
  margin-right: 100px;
}

.total-peserta {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.content-data {
  border-radius: 12px;
}

.isAktif {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #1F1F1F;
  margin-left: 8px;
}

.sub-menu-pelatihan a {
  color: #1F1F1F;
}

.styling-radio input[type='radio'] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #215480;
  border-radius: 50%;
  outline: none;
}

.styling-radio input[type='radio']:hover {
  box-shadow: 0 0 5px 0px #215480 inset;
}

.styling-radio input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

.styling-radio input[type='radio']:checked:before {
  background: #215480;
}

.checkbox>input:checked~.checkbox-ketentuan {
  background-color: #215480;
}

.type-styling a:hover {
  color: #fff;
}

.data-head-2{
  background-color: #203E80;
}

.text-gray a {
  color: gray;
}

.total-peserta {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.content-data {
  border-radius: 12px;
}

.isAktif {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #1f1f1f;
  margin-left: 8px;
}

.sub-menu-pelatihan a {
  color: #1f1f1f;
}

.styling-upload input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  color: #fff;
}

.styling-upload input[type="file"]{
  color: #ffffff;
}

.styling-upload input[type="file"]::before {
  content: 'Upload';
  display: inline-block;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  background-color: #04AA77;
  border-radius: 30px;
  padding: 12px 32px 12px 56px;
  color: #fff;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}

.styling-upload input[type="file"]:hover::before {
  border-color: black;
}

.styling-upload input[type="file"]:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.provinsi-styling-2{
  /* margin-right: 20px; */
  background-color: #203E80;
}

.styling-unduh > div {
  margin: 8px 0;
}

.styling-upload > div {
  margin: 5px 0;
}

.styling-unduh span{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  padding: 13px 32px 13px 56px;
  font-size: 14px;
  background-color: #4299E1  ;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}

.cardDataPeserta{
  margin: 0 2px 0 10px;
  width: 97%;
}

@media only screen and (min-width: 1222px) {
  .responsive-side-bar{
    border-right: solid 1px #D7E1EA;
  } 
}

@media only screen and (max-width: 1024px) {
  .styling-content-pelatihan {
    margin-left: 12px;
  }
  .styling-upload > div {
    margin: 21px 0 0 0;
  }
  .isactive {
    padding: 15px;
    font-size: 16px;
    width: 197px;
  }
  .prompt:hover {
    background-color: #ecf5fc;
    color: #1f1f1f;
    font-weight: 600;
    width: 197px;
  }
  .responsive-side-bar{
    border-right: solid 1px #D7E1EA;
  } 

  /* DASHBOARD SITE MANAGEMENT */
  
  .cardDataPeserta{
    width: 77%;
  }
  .data-head-2{
    padding: 8px;
    right: 25px;
  }
  .data-head{
    padding: 8px;
    right: 20px;
    top: 15px;
  }
  .data-daerah-provinsi {
    width: 120px;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 991px) {
  .border-resnponsive{
   border-top: solid 1px #D7E1EA;
   padding-top: 40px;
  }
  .responsive-side-bar{
    border-right: none;
  } 
  .isactive {
    padding: 15px;
    font-size: 16px;
    width: 100%;
  }
  .prompt:hover {
    background-color: #ecf5fc;
    color: #1f1f1f;
    font-weight: 600;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .styling-content-pelatihan {
    margin-left: 14px;
  }
  .styling-unduh > div {
    margin: 9px 0 0 0;
  }
  .styling-upload > div {
    margin: 5px 0;
  }

  /* DASHBOARD Site Management */
  .data-daerah-provinsi{
    width: 200px;
    margin-right: 280px;
  }
  .cardDataPeserta{
    width: 100%;
  }
  .content-data{
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 576px) {
  .data-daerah-provinsi {
    width: 100px;
    font-size: 12px;
    margin-right: 8px;
  }
  .total-peserta{
    font-size: 12px;
  }
}

@media only screen and (max-width: 320px) {
  .notification-title h1 {
    font-size: 18px;
  }
  .notification h5 {
    font-size: 14px;
  }
  .email h3 {
    font-size: 14px;
  }
  .isAktif {
    font-size: 14px;
  }
  .styling-unduh span{
    padding: 10px 32px 10px 56px;
    font-size: 10px;
  }
  .styling-upload input[type="file"]::before {
    font-size: 10px;
    padding: 10px 32px 10px 56px;
  }
  .status-peserta > label > input[type="checkbox"] ::before{
    /* width: 10px; */
    font-size: 48px;
  }
  .switch.switch-primary:not(.switch-outline) input:empty~span:before {
    width: 52px;
    height: 30px;
  }
}

@media only screen and (max-width: 280px) {
  .styling-content-pelatihan {
    margin-left: 14px;
    width: 94%;
  }
  .styling-unduh span{
    padding: 10px 20px 10px 45px;
  }
  .styling-upload input[type="file"]::before {
    padding: 10px 20px 10px 45px;
  }
  .data-head-2{
    font-size: 10px;
  }
  .provinsi-styling-2{
    font-size: 10px;
  }
  .data-daerah-provinsi {
    width: 80px;
    font-size: 10px;
    margin-right: 8px;
  }
  .nomor{
    font-size: 10px;
  }
  .total-peserta{
    font-size: 10px;
  }
  .pagination-button{
    font-size: 10px;
  }
}