.iconHide{
    position: absolute;
    top: 20px;
    right: 10px;
}

@media only screen and (max-width: 280px) {
    .passwordWord{
        font-size: 9.8px;
    }
    .iconHide{
        font-size: 12px;
        top: 17px;
    }
    .notes{
        font-size: 10px;
    }
}