@media (max-width: 1280px) {
  .responsive {
    margin-top: -8% !important;
  }
}

@media (max-width: 1024px) {
  .responsive {
    margin-top: -9% !important;
  }
}

@media (max-width: 280px) {
  .responsive {
    margin-top: -15% !important;
  }
}
.responsive {
  margin-top: -5%;
}
