.akunMenu {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 160%;

  color: #fff;
}
.titleAkun {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 155%;

  margin-top: 10px;
  margin-bottom: 10px;

  color: #6c6c6c;
}
.titlePlatform {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 155%;

  margin-bottom: 10px;
  color: #6c6c6c;
}
.subMenuTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;

  color: #fff;
}
.menuItem {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;

  letter-spacing: 0.015em;

  color: #6c6c6c;
}
.proSidebar {
  background-color: #fff !important;
}
