.back {
  background: rgb(0, 124, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 124, 255, 1) 15%,
    rgba(67, 158, 255, 1) 44%
  );
}

.body {
  padding: 40px 0px 45px 0px;
}
.testBody {
  padding: 40px 0px 50px 0px;
}
.cardBody {
  background-color: transparent;
  border: 1px solid #d7e1ea;
  box-sizing: border-box;
  border-radius: 36px;
  padding: 10px 30px;
}
.cardBodyTest {
  background-color: transparent;
  border: 1px solid #d7e1ea;
  box-sizing: border-box;
  border-radius: 36px;
  padding: 8px 25px;
  width: 28%;
  float: right;
  margin: 20px 0px;
}
.textCardLeft {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  /* or 22px */

  letter-spacing: 0.015em;

  /* Neutral/White */

  color: #ffffff;
}
.textCardRight {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  /* or 22px */

  letter-spacing: 0.015em;

  /* Neutral/White */

  color: #ffffff;
  float: right;
}
.mainText {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  /* identical to box height, or 48px */
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.025em;

  /* Neutral/White */

  color: #ffffff;
}
.subText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  /* identical to box height, or 28px */
  margin-bottom: 30px !important;

  letter-spacing: 0.015em;

  /* Neutral/White */

  color: #ffffff;
}
.name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  /* or 38px */

  letter-spacing: 0.015em;
  margin-top: 20px;
  /* Neutral/White */

  color: #ffffff;
}
.nik {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  /* or 22px */

  letter-spacing: 0.015em;

  color: #ffffff;
}
.imageProfile {
  border-radius: 50%;
}
