.akunMenu {
  /* padding: 0px 10px; */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 160%;
  /* identical to box height, or 26px */

  /* Neutral/Heading */

  color: #1f1f1f;
  padding: 10px 0px;
  cursor: pointer;
}
.akunMenuActive {
  /* padding: 0px 10px; */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  background-color: #e6f2ff !important;
  border-radius: 8px;
  color: #007cff;
  padding: 10px 0px;
  cursor: pointer;
}
.titleAkun {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 155%;
  /* identical to box height, or 28px */
  margin-top: 10px;
  margin-bottom: 10px;
  /* Neutral/Body */

  color: #6c6c6c;
  padding: 10px 0px;
}
.titlePlatform {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 155%;
  /* identical to box height, or 28px */

  /* Neutral/Body */
  margin-bottom: 10px;
  color: #6c6c6c;
  padding: 5px 0px;
}
.subMenuTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  /* Neutral/Heading */

  color: #1f1f1f;
  cursor: pointer;
  padding: 10px 0px;
}
.menuItem {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  letter-spacing: 0.015em;

  /* Neutral/Body */

  color: #6c6c6c;
  padding: 0px 40px !important ;
  cursor: pointer;
}

.activeMenuItem {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  letter-spacing: 0.015em;

  /* Neutral/Body */
  background-color: #e6f2ff !important;
  border-radius: 8px;
  color: #007cff;
  padding: 0px 40px !important ;
  cursor: pointer;
}
.proSidebar {
  background-color: #fff !important;
}
.subMenuTitle :hover,
.akunMenu :hover {
  background-color: #e6f2ff !important;
  border-radius: 8px;
  color: #007cff;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}
.menuItem:hover {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  letter-spacing: 0.015em;

  /* Brand/Primary/Primary */

  color: #007cff;
}
.iconMenu {
  font-size: 20px !important;
}
.activeIconMenu {
  color: #007cff !important;
}
.active {
  background-color: #e6f2ff !important;
  border-radius: 8px;
  color: #007cff;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  cursor: pointer;
  padding: 10px 0px;
}

@media (max-width: 900px) {
  .akunMenu {
    /* padding: 0px 10px; */
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 160%;
    /* identical to box height, or 26px */

    /* Neutral/Heading */

    color: #1f1f1f;
    padding: 10px 0px;
    cursor: pointer;
  }
  .akunMenuActive {
    /* padding: 0px 10px; */
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    /* identical to box height, or 26px */

    background-color: #e6f2ff !important;
    border-radius: 8px;
    color: #007cff;
    padding: 10px 0px;
    cursor: pointer;
  }
  .titleAkun {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 155%;
    /* identical to box height, or 28px */
    margin-top: 10px;
    margin-bottom: 10px;
    /* Neutral/Body */

    color: #6c6c6c;
    padding: 10px 0px;
  }
  .titlePlatform {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 155%;
    /* identical to box height, or 28px */

    /* Neutral/Body */
    margin-bottom: 10px;
    color: #6c6c6c;
    padding: 5px 0px;
  }
  .subMenuTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    /* identical to box height, or 26px */

    /* Neutral/Heading */

    color: #1f1f1f;
    cursor: pointer;
    padding: 10px 0px;
  }
  .menuItem {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */

    letter-spacing: 0.015em;

    /* Neutral/Body */

    color: #6c6c6c;
    padding: 0px 40px !important ;
    cursor: pointer;
  }

  .activeMenuItem {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */

    letter-spacing: 0.015em;

    /* Neutral/Body */
    background-color: #e6f2ff !important;
    border-radius: 8px;
    color: #007cff;
    padding: 0px 40px !important ;
    cursor: pointer;
  }
  .proSidebar {
    background-color: #fff !important;
  }
  .subMenuTitle :hover,
  .akunMenu :hover {
    background-color: #e6f2ff !important;
    border-radius: 8px;
    color: #007cff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
  }
  .menuItem:hover {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */

    letter-spacing: 0.015em;

    /* Brand/Primary/Primary */

    color: #007cff;
  }
  .iconMenu {
    font-size: 20px !important;
  }
  .activeIconMenu {
    color: #007cff !important;
  }
  .active {
    background-color: #e6f2ff !important;
    border-radius: 8px;
    color: #007cff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    cursor: pointer;
    padding: 10px 0px;
  }
}
