.akunMenu {
  /* padding: 0px 10px; */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 160%;
  /* identical to box height, or 26px */

  /* Neutral/Heading */

  color: #fff;
}
.titleAkun {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 155%;
  /* identical to box height, or 28px */
  margin-top: 10px;
  margin-bottom: 10px;
  /* Neutral/Body */

  color: #6c6c6c;
}
.titlePlatform {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 155%;
  /* identical to box height, or 28px */

  /* Neutral/Body */
  margin-bottom: 10px;
  color: #6c6c6c;
}
.subMenuTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  /* Neutral/Heading */

  color: #fff;
}
.menuItem {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  letter-spacing: 0.015em;

  /* Neutral/Body */

  color: #6c6c6c;
}
.proSidebar {
  background-color: #fff !important;
}
