.btnNext {
  background-color: white !important;
  border: white;
  margin-left: 55px;
}
.btnNext:hover {
  background-color: #d7e1ea !important;
}

.selectForm:checked {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.015em;
  color: #000;
}

.selectForm {
  background: #ffffff;
  /* Neutral/Border */

  border: 1px solid #d7e1ea;
  box-sizing: border-box;
  border-radius: 8px;
}

@media only screen and (max-width: 1024px) {
  .iconTambah {
    margin-left: 53px;
  }
}
@media only screen and (max-width: 576px) {
  .btnResponsive {
    width: 100%;
    margin-top: 10px !important;
  }
  .iconTambah {
    margin-left: 53px;
  }
  .btnSave {
    margin-left: 0px;
  }
  .btnNext {
    margin-bottom: 8px;
    margin: 0 0 8px 0;
  }
}
