.test * {
    margin-bottom: 0px;
}

/* @font-face {
    font-family: "futura"; */
/* src: url('../../../public/assets/font/Futura-Heavy-font.ttf'); */
/* font-style: ; */
/* font-weight: 800; */
/* font-display: swap; */
/* }  */


.futura {
    font-family: 'futura';
}

.tandatangan {
    overflow: inherit
}

.h-100px {
    height: auto !important
}

.a4-paper {
    height: 595px !important;
    width: 842px !important;
}

.a4-font-header {
    font-size: 4.8vw;
}

.a4-font-normal {
    font-size: 3.8vw;
}

.responsive-margin-peserta {
    top: 38px !important;
}

.responsive-margin-publish {
    top: 42px
}

.responsive-font-size-peserta {
    font-size: 8px !important
}

.responsive-width {
    width: 842px !important;
    height: 595px !important;
}

/* tablet */
@media(min-width: 768px) {
    .responsive-margin-peserta {
        top: 120px !important
    }

    .responsive-font-size-peserta {
        font-size: 16px !important
    }

    .responsive-margin-publish {
        top: 135px
    }
}

#sertifikat-ck-editor .ck-editor__editable_inline {
    min-height: 46px;
}

#syllabus-ck-editor .ck-editor__editable_inline {
    min-height: 46px;
}

/* Laptop */

@media (min-width: 992px) {
    .h-100px {
        height: 100px !important
    }

    .tandatangan {
        overflow: auto;
    }

    .a4-font-header {
        font-size: 1.8vw;
    }

    .a4-font-normal {
        font-size: 0.75vw;
    }

    .responsive-margin-peserta {
        top: 110px !important
    }

    .responsive-font-size-peserta {
        font-size: 20px !important
    }

    .responsive-margin-publish {
        top: 125px;
    }

}

/* normal */
@media (min-width: 1200px) {
    .responsive-margin-peserta {
        top: 135px !important
    }

    .responsive-font-size-peserta {
        font-size: 24px !important
    }

    .responsive-margin-publish {
        /* margin-top: 135px !important; */
        top: 155px !important;
    }
}