.test * {
    margin-bottom: 0px;
}

/* @font-face {
    font-family: "futura"; */
/* src: url('../../../public/assets/font/Futura-Heavy-font.ttf'); */
/* font-style: ; */
/* font-weight: 800; */
/* font-display: swap; */
/* }  */


.futura {
    font-family: 'futura';
}

.tandatangan {
    overflow: inherit
}

.h-100px {
    height: auto !important
}

.a4-paper {
    height: 21cm/2;
    width: 29.7cm/2;
}

.a4-font-header {
    font-size: 4.8vw;
}

.a4-font-normal {
    font-size: 3.8vw;
}

.responsive-margin {
    margin-top: 35px;
}

.responsive-font-size {
    font-size: 3vw;
}

.responsive-width {
    width: 842px !important;
    height: 595px !important;
}

@media(min-width: 768px) {
    .responsive-margin {
        margin-top: 115px;
    }

    .responsive-font-size {
        font-size: 1.5vw;
    }
}

@media (min-width: 992px) {
    .h-100px {
        height: 100px !important
    }

    .tandatangan {
        overflow: auto;
    }

    .a4-font-header {
        font-size: 1.8vw;
    }

    .a4-font-normal {
        font-size: 0.75vw;
    }

    .responsive-margin {
        margin-top: 140px;
    }

    .responsive-font-size {
        font-size: 1.5vw;
    }
}

@media (min-width: 1200px) {
    .responsive-margin {
        margin-top: 143px;
    }

    .responsive-font-size {
        font-size: 1vw;
    }

}