.back {
  background: rgb(67, 158, 255);
  background: linear-gradient(
    0deg,
    rgba(67, 158, 255, 1) 0%,
    rgba(0, 124, 255, 1) 35%
  );
}

.body {
  padding: 20px;
}
.cardBody {
  background-color: transparent;
  border: 1px solid #d7e1ea;
  box-sizing: border-box;
  border-radius: 36px;
  padding: 10px 30px;
}
.textCardLeft {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;

  letter-spacing: 0.015em;

  color: #ffffff;
}
.textCardRight {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;

  letter-spacing: 0.015em;

  color: #ffffff;
  text-align: right;
}
.mainText {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;

  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.025em;

  color: #ffffff;
}
.subText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;

  margin-bottom: 30px;

  letter-spacing: 0.015em;

  color: #ffffff;
}
