/* GLOBAL */
.text-dashboard-primary {
  color: #007cff !important;
}
.text-dashboard-secondary {
  color: #203e80 !important;
}
.text-dashboard-neutral {
  color: #6c6c6c !important;
}
.text-dashboard-gray {
  color: #374151 !important;
}
.text-dashboard-gray-caption {
  color: #adb5bd !important;
}
.bg-dashboard-primary {
  background-color: #007cff !important;
}
.bg-dashboard-primary-shade {
  background-color: #0063cc !important;
}
.bg-dashboard-secondary {
  background-color: #203e80 !important;
}
.bg-dashboard-extras {
  background-color: #4cbde2 !important;
}

.title-section-dashboard {
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: #6c6c6c;
  text-transform: capitalize;
}
/* END GLOBAL */

/* BRAND ONE */
.opening-hello .card .card-body {
  background-image: url("/assets/media/jukut.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.opening-hello .card {
  height: 245px;
}

.opening-hello .card .card-body h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #203e80;
}

.opening-hello .card .card-body p {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #6c6c6c;
}
/* END BRAND ONE */

.leaflet-popup-content-wrapper {
  width: 200px !important;
}

.text-user-progres {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 11rem;
}

@media only screen and (min-width: 900px) {
  .text-user-progres {
    max-width: 12rem;
  }
  /* BRAND ONE */
  .opening-hello .card .card-body {
    background-image: url("/assets/media/jukut.svg"),
      url("/assets/media/ilustrator-1.svg");
    background-repeat: no-repeat;
    background-position: left bottom, right bottom;
  }
  .title-section-dashboard {
    font-size: 32px;
  }
  .opening-hello .card .card-body h2 {
    font-size: 24px;
  }
  .opening-hello .card .card-body p {
    font-size: 16px;
  }
}
