@media (max-width: 1280px) {
  .pieChart {
    position: absolute;
    top: 350;
    width: 400px !important;
    left: -30px !important;
  }
  .cardBackground {
    height: 210px !important;
  }
  .cardList {
    height: 40px !important;
  }
  .btnDropdown {
    margin-top: 70px;
  }
  .cardTwo {
    height: 100%;
  }
  .colCard {
    margin-top: 5px !important  ;
  }
  .cardNumber {
    vertical-align: top !important;
    width: 38px !important;
    height: 38px !important;
  }
  .theme {
    font-size: 9px !important;
  }
  .training {
    font-size: 8px !important;
  }
  .optionDropdown {
    font-size: 8px !important;
    padding: 0px;
  }
  .note {
    font-size: 8px !important;
  }
}

@media (max-width: 1024px) {
  .displayMedium {
    display: block !important;
  }
  .displayNormal {
    display: none;
  }

  .pieChart {
    position: absolute;
    top: 350;
    width: 400px !important;
    left: 80px !important;
  }

  .cardList {
    height: 40px !important;
  }
  .btnDropdown {
    margin-top: 10px;
  }
  .cardSurvey {
    display: none;
  }
  .cardSubstansi {
    display: none;
  }
  .cardTwo {
    height: 210px;
  }
  .colCard {
    margin-top: 5px !important  ;
  }
  .theme {
    font-size: 10px !important;
  }
  .training {
    font-size: 10px !important;
  }
  .cardNumber {
    vertical-align: top !important;
    width: 20px !important;
    height: 20px !important;
  }
  .theme {
    font-size: 9px !important;
  }
  .training {
    font-size: 8px !important;
  }
  .optionDropdown {
    font-size: 8px !important;
    padding: 0px;
  }
  .note {
    font-size: 8px !important;
  }
}

@media (max-width: 768px) {
  .pieChart {
    position: absolute;
    left: 100px !important;
    width: 400px !important;
  }
  .cardSubstansi {
    display: none;
  }
  .cardSurvey {
    display: none;
  }
}

@media (max-width: 490px) {
  .cardSubstansi {
    display: none;
  }
  .cardSurvey {
    display: none;
  }
  .pieChart {
    position: absolute;
    top: 350;
    width: 400px !important;
    left: -60px !important;
  }
}
@media (max-width: 540px) {
  .cardSubstansi {
    display: none;
  }
  .cardSurvey {
    display: none;
  }
  .pieChart {
    position: absolute;
    top: 350;
    width: 400px !important;
    left: 0px !important;
  }
}

@media (max-width: 414px) {
  .cardSubstansi {
    display: none;
  }
  .cardSurvey {
    display: none;
  }
  .pieChart {
    position: absolute;
    top: 350;
    width: 400px !important;
    left: -70px !important;
  }
  .labelChart {
    font-size: 30px !important;
  }
  .cardBottom {
    padding: 10px !important;
  }
}

@media (max-width: 375px) {
  .cardSubstansi {
    display: none;
  }
  .cardSurvey {
    display: none;
  }
  .pieChart {
    position: absolute;
    top: 350;
    width: 400px !important;
    left: -90px !important;
  }
}

@media (max-width: 360px) {
  .cardSubstansi {
    display: none;
  }
  .cardSurvey {
    display: none;
  }
  .pieChart {
    position: absolute;
    top: 350;
    width: 400px !important;
    left: -100px !important;
  }
  .cardBottom {
    padding: 5px !important;
  }
  .labelChart {
    font-size: 25px !important;
  }
}

@media (max-width: 320px) {
  .cardSubstansi {
    display: none;
  }
  .cardSurvey {
    display: none;
  }
  .pieChart {
    position: absolute;
    top: 350;
    width: 400px !important;
    left: -115px !important;
  }
  .labelChart {
    font-size: 25px !important;
  }
}

@media (max-width: 280px) {
  .pieChart {
    display: none;
  }
  .pieChartResponsiveFold {
    display: block !important;
    position: absolute;
    left: -140px;
    width: 400px !important;
  }
  .cardSurvey {
    display: none;
  }
}

.pieChart {
  position: absolute;
  top: 300;
  left: 50px;
}

.cardBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
}

.textCardTwo {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 28px */
  padding-bottom: 18px;
  color: #80808f !important;
}
.cardTwo {
  padding: 10px 10px !important;
}
.btnDropdown {
  padding: 8px 60px !important;
  background: #4299e1 !important;
  border-radius: 30px;
  border: #4299e1 !important;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  text-align: center;

  /* Neutral/White */

  color: #ffffff;
}
.btnDropdown select {
  /* for Firefox */
  -moz-appearance: none !important;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none !important;
}
.btnDropdown:focus {
  box-shadow: inset #4299e1 !important;
  border: #4299e1 !important;
}
.btnDropdown:active {
  box-shadow: inset #4299e1 !important;
  border: #4299e1 !important;
}
.optionDropdown {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  border: #4299e1 !important;
  text-align: center;
  border-radius: 30px;
  /* Neutral/White */

  color: #ffffff;
}
.cardPeserta,
.cardSubstansi,
.cardSurvey,
.cardTrivia {
  background: #ffffff;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  padding: 8px;
}
.cardPesertaBody {
  padding: 10px;
  position: relative;
  height: 500px;
}
.headPeserta {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  /* Neutral/Heading */

  color: #1f1f1f;
}
.subHeadPeserta {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  /* Neutral/Body */

  color: #6c6c6c;
}
.labelChart {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 120%;
  /* or 56px */

  text-align: center;

  /* Lama/Neutral/80 */

  color: #464e5f !important;
}
.subTextTotal {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 15px;
  /* identical to box height */

  /* Lama/Neutral/70 */

  color: #80808f;
}
.substansi {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  /* or 22px */

  /* Brand/Primary/Primary */

  color: #215480;
}
.survey {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  /* or 22px */

  /* Brand/Secondary/Secondary */

  color: #4299e1;
}
.trivia {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  /* or 22px */

  /* Brand/Extras/Extras */

  color: #4cbde2;
}
.cardList {
  border: transparent;
  margin: 30px;
}
.cardNumber {
  background: #f2f7fc;
  border-radius: 8px;
  border: #f2f7fc;
  padding: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 160%;
  /* or 22px */

  text-align: center;
  vertical-align: top;
  height: 38px !important;
  width: 38px !important;

  /* Brand/Primary/Primary */

  color: #215480;
}
.theme {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  /* identical to box height, or 26px */

  /* Neutral/Heading */

  color: #1f1f1f;
}
.training {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 18px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Neutral/Body */

  color: #6c6c6c;
}
.total {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  /* Neutral/Body */

  color: #6c6c6c;
}
.note {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Neutral/Body */

  color: #6c6c6c;
}
.btnNext {
  background: #4299e1 !important;
  border-radius: 8px;
  border: #4299e1 !important;
  margin: 5px;
}
.rowBottom {
  margin-top: 20px !important;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.total {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  /* or 22px */

  /* Neutral/Body */

  color: #6c6c6c;
}
.cardBackground:hover {
  background: #215480 !important;
  border: 1px solid rgba(210, 201, 197, 0.3);
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height, or 136% */

  text-align: center;

  /* Neutral/Caption */

  color: white !important;
}
.cardBackground {
  background: #ffffff;
  border: 1px solid rgba(210, 201, 197, 0.3);
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height, or 136% */

  text-align: center;

  /* Neutral/Caption */

  color: #adb5bd !important;
}

.pieChartResponsiveFold {
  display: none;
}
.displayMedium {
  display: none;
}
