.mainCard {
  background: #ffffff;
  /* Card */
  padding: 20px 30px;
  box-shadow: 0px 0px 12px rgba(31, 31, 31, 0.1);
  border-radius: 0px 0px 12px 12px;
}

.back {
  background: #ffffff;
  cursor: pointer;
  padding: 3px 5px;
  width: 40px;
  border: 1px solid #e5eaee;
  box-sizing: border-box;
  border-radius: 5px;
}
.cardChoose {
  background: #f3f6f9;
  border-radius: 5px;
  border: #f3f6f9;
  padding: 10px;
  text-align: center;
  margin-bottom: 12px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.cardChoosed {
  background: #d7f9ef !important;
  border-radius: 5px;
  border: #f3f6f9 !important;
  padding: 10px;
  text-align: center;
  margin-bottom: 12px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.numberAnswer {
  background: #04aa77;
  border-radius: 5px;
  border: #04aa77;
  padding: 10px;
  text-align: center;
  margin-bottom: 12px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.textCardNumber {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 140%;

  color: #04aa77;
}
.textCard {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 140%;
  color: #1b283f;
}
.textCardAnswer {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 140%;
  color: #fff;
}
.cardAnswer {
  background: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #d6d6e0;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  font-style: normal;
  cursor: pointer;
}
.cardAnswer:hover,
.cardAnswered {
  background-color: #e6f7f1;
  border: 2px solid #e6f7f1;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  font-style: normal;
  cursor: pointer;
}
.textArea {
  padding: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #b5b5c3;
  background: #ffffff;
  border: 2px solid #d6d6e0;
  box-sizing: border-box;
  border-radius: 5px;
}
.textArea::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #b5b5c3;
}
.textArea:focus {
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 255),
    0 0 8px rgba(255, 255, 255, 255);
  border: 2px solid #d6d6e0;
}
.multiple {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  color: #ee9d01;
}
.academy {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  padding: 10px 0px;
  color: #1b283f;
}
.time {
  background-color: #ffe2e5;
  color: #ee2d41;
  border-color: #ffe2e5;
  height: 33px;
  width: 160px;
  float: right;
  padding: 4px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
}
.nameTest {
  font-family: poppins;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  font-size: 12px;
  color: #1b283f;
}
.totalSoal {
  text-align: right;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #80808f;
}
