.text-dark {
    color: black !important;
}

.bg-white{
    background-color: white;
}

.rectangle-primary{
    background-color: #215480;
    fill: #215480;
    color: #215480;
    width: 180px;
    height: 5px;
    border: #215480;
    border-radius: 5px;
}

.text-link-tab:link {
    color: black;
    text-decoration: none;
}

.text-link-tab:hover {
    color: black;
    text-decoration: none;
}

.text-link-tab:active {
    color: black;
    text-decoration: none;
}


