/* Modals Preview Publikasi - Galeri */

/* .modal-content{
    height: 500px;
    background: #fff;
    border-radius: 5px;
} */

.modal-dialog{
    /* border: 1px solid yellow; */
    width: 800px;
    height: 80%;
}

.modal-body{
    width: 770px;
    height: 100%;
}

.posModal{
    display: flex;
    background: #fff;
}

.img-prevModal{
    /* border: 1px solid blue; */
    height: 493px;
    width: 100%;
}

.description-img{
    text-align: left;
    width: 100%;
    height: 260px;
    flex-wrap: wrap;
    overflow-y: auto;
}

@media only screen and (max-width: 1024px) {
    /* .modal-body{
        height: 400px;
        width: 600px;
        margin-left: -30px;
    } */
    .img-prevModal{
        height: 500px;
        width: 310px;
        /* margin-left: -14px; */
    }
    .description-img{
        height: 235px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 768px) {
    /* .modal-body{
        height: 400px;
        width: 550px;
        margin-left: -30px;
    } */
    .img-prevModal{
        width: 280px;        
    }
    .description-img{
        height: 235px;
        overflow-y: auto;
    }
}