.headTitle {
  font-size: 25px;
  font-weight: 600;
  margin-top: 18px;
}

.btnTambah {
  margin-top: 10px;
}

.modal-dialog {
  width: 800px;
  height: 80%;
}

.posModal {
  display: flex;
}

.img-left {
  width: 350px;
}

.fullBar {
  margin: -23px;
  width: 700px;
}

.rightSideBar {
  width: 700px;
}

.img-prevModal {
  height: 470px;
}

.subMenuPreview {
  font-size: 11px;
  margin-left: -10px;
}

.description-img {
  text-align: left;
  width: 100%;
  height: 260px;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.iconBorderGaleri {
  background-color: #007cff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 39px;
  margin-right: 3px;
}

.strip {
  width: 390px;
  margin-left: -35px;
}

.listTagGaleri {
  display: flex;
}

.tagModal {
  font-size: 10px;
}

@media only screen and (max-width: 1200px) {
  .img-prevModal {
    height: 460px;
  }
}
@media only screen and (max-width: 1024px) {
  .modal-body {
    height: 400px;
    width: 650px;
    margin-left: -75px;
  }
  .img-prevModal {
    height: 435px;
  }
  .rightSideBar {
    margin-left: -78px;
  }
  .description-img {
    /* border: 1px solid black; */
    width: 90%;
    height: 235px;
  }
  .strip {
    width: 315px;
    margin-left: -35px;
  }
}

@media only screen and (max-width: 768px) {
  .subMenuPreview {
    font-size: 9px;
    margin-left: -10px;
  }
  .rightSideBar {
    width: 660px;
  }
  .img-left {
    width: 330px;
  }
  .img-prevModal {
    height: 425px;
  }
  .description-img {
    height: 235px;
    overflow-y: auto;
  }
  .headTitle {
    font-size: 22px;
  }
  .btnTambah {
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .modal-body {
    width: 333px;
    height: 100%;
    margin-left: 15px;
  }
  .img-left {
    height: 180px;
    margin-left: 2px;
  }
  .img-prevModal {
    height: 200px;
  }
  .rightSideBar {
    width: 330px;
    margin-left: 15px;
  }
  .rightSide {
    height: 200px;
  }
  .subMenuPreview {
    font-size: 6px;
  }
  .iconPreview {
    font-size: 6px;
  }
  .description-img {
    height: 97px;
    width: 200px;
    font-size: 7px;
  }
  .tagModal {
    font-size: 8px;
  }
  .hideTitle {
    display: none;
  }
  .headTitle {
    font-size: 17px;
  }
  .btnTambah {
    font-size: 9px;
  }
}
