.progress-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-items .title-progress {
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3rem;
  color: #6c6c6c;
  font-size: 13px;
}

@media (max-width: 1199.98px) {
  .progress-items .title-progress {
    display: none;
    position: static;
  }

  .progress-items .circle-progress {
    position: static !important;
  }

  .progress-items .title-progress.active {
    display: block !important;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .progress-items {
    position: static;
  }

  .relative-progress {
    position: static;
  }
}

.progress-items .line-progress {
  height: 8px;
  background-color: #adb5bd;
  width: 100%;
  left: -55%;
  position: absolute;
  top: 1.3rem;
}

.progress-items .circle-progress {
  width: 39px;
  height: 39px;
  background: #adb5bd;
  border-radius: 100%;
  position: relative;
  z-index: 1;
}

@media (max-width: 425px) {
  .progress-items .line-progress {
    height: 3px;
    left: -58%;
    top: 9px;
  }

  .progress-items .title-progress.active {
    top: -3.2rem;
  }

  .progress-items .circle-progress {
    width: 20px;
    height: 20px;
    background: #adb5bd;
    border-radius: 100%;
    position: relative;
    z-index: 1;
  }
}

.active-line {
  background-color: #4cbde2 !important;
}

.active-circle {
  background: #4cbde2 !important;
}

.titles-1 {
  font-size: 24px !important;
}

.titles-2 {
  font-size: 40px !important;
}

.text-overflow-ens {
  max-width: 11rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardContainer {
  background: #ffffff;
  border: 1px solid #d7e1ea;
  border-radius: 5px;
  padding: 16px 32px;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 575.98px) {
  .titles-1 {
    font-size: 17px !important;
    margin-bottom: 20px !important;
  }

  .cardContainer {
    padding: 16px 4px;
  }
  .titles-2 {
    font-size: 23px !important;
  }
}

.wrap-accouts {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #dddddd;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-right: 30.8px;
  width: 189.5px;
}
.wrap-accouts .titles-accounts {
  white-space: nowrap;
  margin: 0 10px;
  font-weight: 600;
  max-width: 90px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.dot-accouts {
  min-width: 30px;
  width: 30px;
  min-height: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  background-color: red;
  padding-left: 10px;
}

.list-wrap-accounts {
  margin-left: 0;
  position: absolute;
  width: 190px;
  left: 43%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-top: NONE;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  top: 85%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  z-index: 9;
  padding-left: 1px;
  padding-right: 10px;
}
.list-wrap-accounts .items-lists {
  padding-left: 10px;
  border-radius: 7px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.list-wrap-accounts .items-lists:hover {
  background-color: #007cff;
  color: white;
}
.list-wrap-accounts .items-lists:last-child:hover {
  background-color: white !important;
  /* color: none; */
}
.w-max-cs .capcha div div div {
  width: 100% !important;
  display: flex !important;
  justify-content: flex-start !important;
}

@media (max-width: 360px) {
  .w-max-cs .capcha div div div div iframe {
    width: 100% !important;
    display: flex;
    justify-content: flex-start;
  }
}
