.figure_img {
  background-size: cover;
  padding: 0;
  height: auto;
}

.figure_img_mitra {
  background-size: cover;
  padding: 0;
  height: auto;
  border-radius: 50%;
}

.text_date_register {
  font-size: 14px;
}

.text_link {
  font-size: 14px;
  text-decoration-line: none;
  color: #1f1f1f;
  margin-top: 12px;
  margin-bottom: 0;
}
