.dropdown-explore {
  background: #f2f7fc;
  border-radius: 40px;
  padding: 3px 15px;
  font-weight: 600;
  font-size: 13px;
  color: #6c6c6c;
}

.max-container{
  /* max-width: 1440px; */
  max-width: 1700px;
  margin: auto;
}

.btn-login-peserta {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  font-weight: 600;
  font-size: 13px;
  border: 1px solid #007cff;
  border-radius: 19px;
  color: #007cff;
  margin-right: 10px;
}

.btn-register-peserta {
  background-color: #007cff;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  font-weight: 600;
  font-size: 13px;
  border: 1px solid #007cff;
  border-radius: 19px;
  color: white;
  margin-right: 10px;
}

.header-dashboards {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.carousel-primarys {
  padding-top: 70px;
}

.carousel-secondarys {
  padding-top: 0px;
}

.carousel-primarys .splide__arrow--next,
.carousel-primarys .splide__arrow--prev {
  display: none !important;
}

.carousel-primarys .splide__pagination__page.is-active {
  width: 16px;
  height: 8px;
  background: #007cff !important;
  border-radius: 16px;
  margin: 0 7px;
}

.carousel-primarys .splide__pagination__page {
  width: 8px;
  height: 8px;
  background: #d7e1ea;
  border-radius: 16px;
}

.carousel-primarys .splide__pagination li {
  position: relative;
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: none;
  z-index: -1 !important;
}

.carousel-secondarys .splide__pagination {
  display: none !important;
}

.carousel-secondarys .splide__slider {
  margin: 0 60px;
}

@media (max-width: 768px) {
  .carousel-secondarys .splide__slider {
    margin: 0 0px;
  }
}

.card-1 {
  display: flex;
  align-items: center;
  padding: 16px;
  border: 1px solid #d7e1ea;
  border-radius: 8px;
  color: #adb5bd;
  width: 100%;
}

.card-1.active-card-1 {
  border: 1px solid #007cff;
  color: white;
  background-color: #007cff;
}

.cards-items {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 24px rgba(31, 31, 31, 0.1));

  margin-top: 1.5rem;
}

.cards-items .bottom .rounded {
  width: 64px;
  height: 64px;
  filter: drop-shadow(0px 4px 8px rgba(31, 31, 31, 0.1));
  border-radius: 50% !important;
  position: absolute;
  left: 20px;
  top: -14%;
  background-color: white;
  overflow: hidden;
}

.cards-items .top {
  min-height: 180px;
  height: 180px;
   /* background-image: url("../../public/assets/media/dummy-banner.png"); */
  /* background-image: url("../../public/assets/media/default-thumbnail.svg"); */
  background-color: blue;
  padding: 20px;
}

.cards-items .top label {
  background: #e6f2ff;
  border-radius: 40px;
  font-weight: 600;
  font-size: 12px;
  padding: 4px 12px;
  position: relative;
  z-index: 1;
}

.cards-items .top button {
  position: relative;
  z-index: 1;
}

.cards-items .bottom {
  min-height: 238px;
  height: max-content;
  background-color: white;
  padding: 20px;
  position: relative;
}

.btn-green-rounded {
  background: #e6fff7;
  border-radius: 40px;
  color: #00996a;
  padding: 4px 12px;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
}

.image-steps-dashboard {
  position: relative;
  width: 100%;
  height: 645px;
}
.step-registers h1,
.galery-update h1,
.info-video h1,
.come-join h1,
.rillirs-media h1 {
  font-size: 40px;
}

@media (max-width: 768px) {
  .image-steps-dashboard {
    height: 481px;
  }

  .image-steps-dashboard img {
    min-height: 30rem !important;
  }
  .step-registers h1,
  .galery-update h1,
  .info-video h1,
  .come-join h1,
  .rillirs-media h1 {
    font-size: 28px;
  }
}
@media (max-width: 425px) {
  .image-steps-dashboard img {
    min-height: 20rem !important;
  }

  .step-registers .images-shapes,
  .galery-update .images-shapes {
    width: 100% !important;
  }

  .image-steps-dashboard {
    height: 313px;
  }
}

.splide__arrow {
  background: #fff !important;

  box-shadow: 0px 0px 16px rgba(31, 31, 31, 0.1);
}
.splide__arrow svg {
  fill: #203e80;
}

.step-registers .images-shapes {
  width: 478px;
  height: 155%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.galery-update .images-shapes {
  width: 478px;
  height: 155%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
