.figure_img {
  background-size: cover;
  padding: 0;
  height: auto;
}

.figure_img_mitra {
  background-size: cover;
  padding: 0;
  height: auto;
  border-radius: 50%;
}

.text_date_register {
  font-size: 14px;
}

.text_link {
  font-size: 14px;
  text-decoration-line: none;
  color: #1f1f1f;
  margin-top: 12px;
  margin-bottom: 0;
}
.confirmText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 155%;
  /* identical to box height, or 28px */

  /* Neutral/Heading */

  color: #fff;
}
.modalBody {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  /* or 26px */

  color: #000000;
}
.btnCancel {
  text-decoration: none !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  /* or 22px */

  text-align: center;
  letter-spacing: 0.015em;

  /* Brand/Primary/Primary */
  margin-right: 25px;
  color: #007cff;
}
.btnStart {
  background: #007cff !important;
  border-radius: 30px;
  padding: 10px 25px !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  /* or 22px */

  text-align: center;
  letter-spacing: 0.015em;

  /* Neutral/White */

  color: #ffffff;
}
.btnStart:hover {
  background: #005cdd !important;
  border-radius: 30px;
  padding: 10px 25px !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  /* or 22px */

  text-align: center;
  letter-spacing: 0.015em;

  /* Neutral/White */

  color: #ffffff;
}
