@media (max-width: 1135px) {
  .responsive_overflow{
    overflow-x: scroll;
    max-width: 1135px;
  }
}

@media (max-width: 550px) {
  .responsive_overflow{
    overflow-x: scroll;
    max-width: 550px;
  }
}

@media (max-width: 320px) {
  .responsive_overflow{
    overflow-x: scroll;
    max-width: 320px;
  }
}